@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("/public/bg.png") center no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

/* Làm thanh cuộn vô hình */
::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
    background: transparent; /* Ẩn nền của track */
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* Làm tay cầm trong suốt */
    border-radius: 10px; /* Tạo hình tròn cho tay cầm */
}

::-moz-scrollbar {
    width: 8px;
}

::-moz-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

::-ms-scrollbar {
    width: 8px;
}

::-ms-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

::-o-scrollbar {
    width: 8px;
}